body {
    font-family: Arial, Helvetica, sans-serif;
}

.brand {
    font-family: 'Merriweather', serif;
    color: black;
    padding-left: 50%;
}

.nav-link {
    color: black;
}

.nav {
    border-bottom: 3px solid;
}

#showcase h1 {
    text-align: center;
    font-size: 3.1em;
}

#showcase #cart {
    text-align: end;
    padding-right: 3%;
}

.front-cover img {
    /* margin-top: 1px; */
    width: 100%;
}

.deals {
    margin-top: 3%;
    text-align: center;
    background-color: #eaeaea;
}

.deals h2 {
    font-size: 2em;
}

.grid-mini {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    padding-bottom: 3em;
}

.mini-grid img {
    width: 85%;
    /* border: 1px solid; */
    border-radius: 3%;
}

.home-image {
    display: block;
    width: 70%;
    padding-top: 2em;
    margin-left: 9%;
}

.home-image img {
    width: 70%;
    margin-left: 17%;
}

#section-a {
    text-align: center;
    /* margin-bottom: 10%; */
    padding-bottom: 30px;
}

#items {
    align-self: center;
    align-items: center;
    align-content: center;
}

.card-img-top {
    height: 16em;
}

#details {
    display: grid;
    justify-content: center;
}

.grid-2 {
    margin-top: 1.1em;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#price-amount {
    padding-bottom: 3em;
}

#footer-id {
    margin-top: 1.8em;
    margin-left: 1.2em;
}

#page {
    text-align: center;
    margin-top: 4%;
}

#photo-2 img {
    width: 85%;
}

.cart-btn {
    margin-left: 28%;
    margin-bottom: 8%;
}

#checkout-head {
    margin-top: 1.5em;
    text-align: center;
    margin-bottom: 1.8em;
}

.card-checkout {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 1.3em;
}

.grid-total-checkout {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 1.3em;
}

.grid {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    margin-top: 2%;
}

.item-box img {
    width: 100%;
}

.item-box {
    border: 3px;
    border-radius: 2%;
    text-align: center;
    width: 80%;
    margin-left: 10%;
    margin-bottom: 8%;
    border-style: inset;
}

.item-box a:hover {
    opacity: 0.7;
}

.mini-grid a:hover {
    opacity: 0.7;
}

ul {
    list-style: none;
}

.button-buy {
    background-color: blanchedalmond;
}

.grid-home {
    margin-top: 4%;
    width: 80%;
    margin-left: 10%;
    margin-bottom: 4%;
}

#section-a {
    border: 2px solid;
}

#section-a a:hover {
    opacity: 0.7;
}

@media(min-width: 700px) {
    .grid-2 {
        margin-top: 1.1em;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .grid {
        margin-top: 3em;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .home-image img {
        width: 40%;
    }
    #details h2 {
        padding-top: 1.4em;
    }
    .card {
        grid-column: 1/2;
    }
    .brand {
        grid-column: 1/3;
    }
    #photo {
        grid-column: 2/3;
    }
    #photo-2 {
        width: 40%;
        height: 70%;
        grid-column: 2/3;
    }
    .nav-link {
        color: black;
    }
    .nav {
        border-bottom: 3px solid;
    }
    #footer-id {
        margin-top: 5em;
        margin-left: 5em;
        margin-bottom: 5em;
    }
    .grid-checkout {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: space-around;
    }
    .grid-checkout-1 {
        padding-right: 3%;
    }
    .grid-checkout-2 {
        padding-left: 3%;
    }
}

a.button1 {
    background-color: rgba(6, 20, 0, 0.712);
    display: inline-block;
    padding: 0.35em 1.2em;
    border: 0.1em solid #FFFFFF;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #FFFFFF;
    text-align: center;
    transition: all 0.2s;
}

a.button1:hover {
    color: #000000;
    background-color: #598b7263;
}

@media all and (max-width:30em) {
    a.button1 {
        display: block;
        margin: 0.4em auto;
    }
}